{% extends 'base.html' %}

{% block title %}Перелік потягів{% endblock %}

{% block content %}
<h1 class="display-4 text-center my-4">Перелік потягів</h1>
<div class="row">
    <div class="col-md-6 mx-auto">
        <table class="table table-striped">
            <tbody>
            {% for train in trains_list %}
            <tr>
                <td>
                    <a>{{train.name}}</a>
                </td>
            </tr>
            {% endfor %}
            </tbody>git
        </table>
    </div>
</div>
<span class="step-links">
    <nav aria-label="...">
        <ul class="pagination">
            <li class="page-item">
                {% if cities_list.has_previous %}
                    <a class="page-link" href="?page={{ cities_list.previous_page_number }}">Previous</a>
                    <li class="page-item">
                        <a class="page-link" href="?page={{ cities_list.previous_page_number }}">{{ cities_list.previous_page_number }}</a>
                    </li>
                    <li class="page-item active" aria-current="page">
                        <a class="page-link" href="#">{{ cities_list.number }}</a>
                    </li>
                    {% if cities_list.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ cities_list.next_page_number }}">{{ cities_list.next_page_number }}</a>
                    </li>
                    {% endif %}
            </li>
                {% else %}
                    <a class="page-link disabled">Previous</a>
                    <li class="page-item active" aria-current="page">
                        <a class="page-link" href="#">{{ cities_list.number }}</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="?page={{ cities_list.next_page_number }}">{{ cities_list.next_page_number  }}</a>
                    </li>
                {% endif %}
            <li class="page-item">
                {% if cities_list.has_next %}
                    <a class="page-link" href="?page={{ cities_list.next_page_number }}">Next</a>
                {% else %}
                    <a class="page-link disabled" href="#">Next</a>
                {% endif %}
            </li>
        </ul>
    </nav>
</span>
<div class="row">
    <div class="col-md-6">
        <a href="{% url 'cities:add' %}">
            <button type="button" class="btn btn-info btn-sn">Додати нове Місто</button>
        </a>
    </div>
</div>

{% endblock %}
